DEPLOY_USER=ubuntu
DEPLOY_HOST=seu-servidor.com
DEPLOY_PORT=22
DEPLOY_PATH=/opt/clickgarcom
DEPLOY_COMPOSE_CMD=docker compose
DEPLOY_APP_SERVICES=go-migrate go-setup-rabbitmq go-api go-worker go-outbox node-admin web-admin super-admin-api super-admin
